<template>
  <div>
    <!--<pre>{{ plugin }}</pre>-->

    selected - <pre>{{ selected }}</pre>

    <ol
      :class="[{ hidden: hide }, 'uk-list']"
    >
      <li
        v-for="breakpoint in breakpoints"
        :key="breakpoint.name"
      >
        <label>
          <input
            class="uk-checkbox"
            type="checkbox"
            :checked="selected.includes(breakpoint.name)"
            @change="$emit('breakpoint-change', breakpoint.name, breakpoint.width, $event.target.checked)"
          >
          {{ breakpoint.label }} ({{ breakpoint.width }}px)
        </label>
      </li>
    </ol>
  </div>
</template>

<script>

export default {
  inject : [
    'plugin',
  ],
  data () {
    return {
      breakpoints : [
        {
          name : 'small',
          label : 'Small',
          width : 1
        },
        {
          name : 'medium',
          label : 'Medium',
          width : 641
        },
        {
          name : 'xmedium',
          label : 'X-Medium',
          width : 981
        },
        {
          name : 'large',
          label : 'Large',
          width : 1101
        },
        {
          name : 'xlarge',
          label : 'X-Large',
          width : 1401
        },
        {
          name : 'xxlarge',
          label : 'XX-Larger',
          width : 1801
        },
      ],
      hide: true
    };
  },
  computed: {
    selected(){

      let pluginModel = this.plugin.model;
      if(!pluginModel.hasOwnProperty('items') || pluginModel['items'].length === 0) {
        return [];
      }

      return pluginModel['items'].map(item => {
        return item.name;
      });
    }
  },
  mounted(){
    this.fetchBreakpoints();
  },
  methods: {
    fetchBreakpoints(){

      if(!Object.prototype.hasOwnProperty.call(this.plugin.options, 'accessToken')) {
        console.error('Please provide an accessToken option ');
        return;
      }

      let accessToken = this.plugin.options.accessToken;

      const StoryblokClient = require('storyblok-js-client');
      let Storyblok = new StoryblokClient({
        accessToken: accessToken
      });

      Storyblok
        .get('cdn/stories/settings/main_site_settings')
        .then((response) => {

          let data = response.data;

          if(!Object.prototype.hasOwnProperty.call(data, 'story')) {
            return;
          }

          if(!Object.prototype.hasOwnProperty.call(data.story, 'content')) {
            return;
          }

          if(!Object.prototype.hasOwnProperty.call(data.story.content, 'breakpoints')) {
            return;
          }

          let breakpoints = data.story.content.breakpoints;
          if(breakpoints.length > 1){
            this.breakpoints = [];
            for (let point of breakpoints) {
              this.breakpoints.push({
                name: point.name,
                label: point.name,
                width: point.width
              });
            }
          }

          setTimeout(()=>{this.hide = false;}, 200);
        })
        .catch((error) => {
          console.log(error);
        });
    }
  }
};
</script>

<style lang="css">
  .hidden {
    display: none;
  }
</style>
