<template>
  <div>
    <Checklist @breakpoint-change="changeBreakpoint" />
  </div>
</template>

<script>
import Checklist from './Checklist.vue';

export default {
  components: {
    Checklist
  },
  mixins: [window.Storyblok.plugin],
  provide() {
    return {
      plugin: this,
    };
  },
  watch: {
    'model': {
      handler: function (value) {
        this.$emit('changed-model', value);
      },
      deep: true
    }
  },
  methods: {
    initWith() {
      return {
        plugin: 'breakpoints',
        items: []
      };
    },
    pluginCreated() {
      console.log('View source and customize: https://github.com/storyblok/storyblok-fieldtype');
    },
    changeBreakpoint(item, width, checked) {
      if(checked) {
        this.model.items.push({
          name : item,
          value : width
        });
      }
      else {
        this.model.items = this.model.items.filter((el) => el.name !== item);
      }
    },
  }
};
</script>

<style>
</style>
